@import "@src/scss/_globals.scss";
@import "@src/scss/_mixins.scss";
@import "@src/scss/_variables.scss";

.discover-form {
	display: flex;
	flex-wrap: wrap;

	.discover-form-field {
		flex-basis: 100%;
		padding: 0 1.5rem;
		position: relative;
		&.discover-form-field-width-25 {
			flex-basis: 25%;
		}
		&.discover-form-field-width-33 {
			flex-basis: 33%;
		}
		&.discover-form-field-width-50 {
			flex-basis: 50%;
		}
		&.discover-form-field-width-66 {
			flex-basis: 66%;
		}
		&.discover-form-field-width-75 {
			flex-basis: 75%;
		}
		&.discover-form-field-width-100 {
			flex-basis: 100%;
		}

		@include respond(tab-port) {
			flex-basis: 100% !important;
			padding: 0;
		}
	}

	.discover-form-field-break-line {
		flex-basis: 100%;
		flex-grow: 1;
	}
}
