@import "../../../scss/globals";

.react-base-dialog {
	> div {
		display: flex;
		flex-direction: column;
		width: 77rem;
		height: 90%;
	}

	.dialog-close {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;

		i {
			color: black;
			font-size: 2.5rem;
		}
	}

	.dialog-header {
		.dialog-logo {
			flex-grow: 0;
			margin-right: 3.5rem;

			i {
				color: $react-base-green;
				font-size: 7rem;
			}

			+ .dialog-title {
				max-width: 40rem;
			}
		}

		.dialog-title {
			max-width: 50rem;
			line-height: 3.5rem;
			font-weight: bold;
			font-size: 3.5rem;
			align-items: center;
			word-break: break-word;
		}
	}

	.md-dialog-content {
		padding: 2.5rem 5%;
		overflow: unset;
		height: 100%;
		display: flex;
		flex-grow: 1;
		max-height: none !important;

		.dialog-container {
			height: 100%;
			overflow-y: auto;
			flex-grow: 1;
			.dialog-content {
				width: 100%;
				color: #757575;
				font-size: 1.4rem;
				padding-bottom: 7rem;
			}

		}
	}
		.dialog-footer {
		justify-content: space-between;
		background-color: #fff;
		display: flex;
		width: 100%;
		flex-direction: row;
		padding: 1rem 5%;

		&.center-buttons {
			justify-content: center;
		}

		button {
			padding: 0.5rem;
			height: 4rem;
			border-radius: 3px;

			&.btn--grey {
				background-color: $md-grey-300;
			}

			&.btn--green {
				background-color: $react-base-green;
			}
		}
	}
}
