@import "@src/scss/_globals.scss";
@import "@src/scss/_mixins.scss";
@import "@src/scss/_variables.scss";

#dropzoneContainer {
	display: flex;
	align-items: center;
	position: relative;
	width: 30rem;
	max-width: 100%;
	border: 1px dashed;
	border-radius: 3px;
	border-color: $md-grey-400;
	padding: 1.6rem;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		opacity: 0.2;
		transition: width 0.5s ease;
	}
	&.dropzone-error{
		border-color: $red-color;
	}
	.dropzone-inner-container {
		width: 100%;

		.dropzone-buttons {
			.md-file-input-container {
				margin-right: 1.5rem;

				label {
					background: $launchmetrics-green;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: #fff;
					font-size: 1.4rem;
					font-weight: 500;
					line-height: 2.5rem;
					text-transform: uppercase;
					padding: 0.5rem 0.6rem;
					box-shadow: none;
					.md-icon-text {
						padding: 0;
					}
				}
			}
			.dropzone-help {
				display: inline-flex;
				align-content: center;
				font-size: 1.4rem;
				font-weight: 500;
				line-height: 2.5rem;
				padding: 0.5rem 0.6rem;
				margin: 0 0.3rem;
				color: $md-grey-500;

				.icon-upload {
					display: inline-flex;
					align-items: center;
					color: $md-grey-500;
					font-size: 1.8rem;
					margin-right: 0.8rem;
				}
			}
		}
		#dropzoneUploadedFiles {
			margin-top: 1.5rem;

			.dropzone-upload-files-inner {
				display: flex;
				flex-direction: column;

				.dropzone-uploaded-file {
					display: flex;
					align-items: center;
					margin-bottom: 0.5rem;

					.dropzone-uploaded-file-info {
						display: flex;
						align-items: center;
						flex: 1;
						height: 3.2rem;
						transition: height 0.1s;
						overflow: hidden;
						font-size: 1.3rem;

						.dropzone-uploaded-file-name {
							font-weight: 500;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							line-height: 1.6rem;
							color: $md-grey-500;
						}
					}

					.dropzone-uploaded-file-commands {
						display: flex;
						margin: 0 0.5rem;

						.dropzone-uploaded-file-commands-remove {
							width: auto;
							height: auto;
							min-height: 0;
							min-width: 0;
							padding: 0;

							.md-ink-container {
								border-radius: 2rem;
							}

							i {
								font-size: 2rem;
							}

							.md-icon-text {
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
	&.highlighted-container {
		border-color: $launchmetrics-green;

		.dropzone-inner-container {
			.dropzone-buttons {
				.dropzone-help {
					color: $launchmetrics-green;

					.icon-upload {
						color: $launchmetrics-green;
					}
				}
			}
		}
		&::before {
			width: 100%;
			height: 100%;
			background: rgb(197, 202, 213);
		}
	}
	&.filled-container {
		.dropzone-inner-container {
			.dropzone-buttons {
				.md-file-input-container {
					label {
						background: $md-grey-300;
						color: $md-grey-500;
					}
				}
			}
		}
	}
}
