@import "@src/scss/_globals.scss";
@import "@src/scss/_mixins.scss";
div#appLoader {
	width: 100%;
	height: 100%;
	@include flexCenter();
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	#appWrapper {
		height: calc(100% - #{$toolbar-height});
		display: flex;
		flex-direction: column;
	}
	#appContent {
		flex-grow: 1;
		width: 100%;
		max-width: $max-layout-width;
		background-color: white;
		align-self: center;
		overflow-y: auto;
	}
}
