@import "@src/scss/_globals.scss";
@import "@src/scss/_mixins.scss";
@import "@src/scss/_variables.scss";

.discover-form-select-field {
	@include selectInput("darker");
	label {
		font-size: 1.2rem;
	}

	ul.md-list {
		width: 100%;
		top: 100%;
		li.md-list-item {
			> div {
				padding: 1rem 2rem;
				.md-text {
					font-size: 1.2rem;
				}
			}
		}
	}
}
