$react-base-green: #4df7b9;
$react-base-dark-green: #00c795;
$red-color: #e53935;

$react-base-font-name: "Raleway";
$react-base-font-name-secondary: "Montserrat";
$react-base-font-name-text: "Libre Baskerville";

$max-layout-width: 1198px;
$toolbar-height: 56px;
$tabs-height: 45px;
$content-toolbar-height: 64px;
