@import "@src/scss/_globals.scss";
@import "@src/scss/_mixins.scss";
@import "@src/scss/_variables.scss";

.react-base-form-autocomplete-field {
	@include selectInput("darker");
	label {
		font-size: 1.2rem;
	}

	hr.md-divider {
		margin-top: 0.4rem;
	}

	ul.md-list {
		padding-bottom: 0;
		li.md-list-item {
			> div {
				padding: 1rem 2rem;
				.md-text {
					font-size: 1.2rem;
				}
			}
		}
	}

	@include autocompleterWithClearButton();
	.media-option-name {
		font-weight: bold;
	}

	& + button {
		position: absolute;
		right: 2rem;
		bottom: 1rem;
	}

	&.with-button:focus-within input {
		padding-right: 2rem;
	}
}
